// Definir variables para los colores
$color-background-light: white
$color-text-light: black
$color-box-blue-light: #DFF6FF
//$color-titles-light:

$color-background-dark: #06283D
$color-text-dark: white
$color-box-blue-dark: #629FB7

p, span, a, div, li, body
	font-family: "Mada", sans-serif !important

h1, h2, h3, h4, h5
	font-family: "Alata", sans-serif !important
h2
	color:  #06283D!important
body
	transition: all 0.3s ease

// Modo claro
.light-mode
	background-color: $color-background-light
	color: $color-text-light
	
	button
		background-color: #f0f0f0
		color: $color-text-light
	.box-blue
		background-color: $color-box-blue-light
// Modo oscuro
.dark-mode
	background-color: $color-background-dark
	color: $color-text-dark
	header
		background-color: #021C2B
	footer
		div
			background-color: #021C2B
	button
		background-color: #333
		color: $color-text-dark
	.box-blue
		background-color: $color-box-blue-dark
	.button
		border-color: #DFF6FF!important
		color: #DFF6FF!important
	h2
		color: #DFF6FF!important
	.proyectos
		h3
			a
				color: #DFF6FF!important
	.contacto 
		.datos_contacto 
			a
				color: #fff

header
	background-color: #06283D
	color: white
	padding: 20px 0 20px 0 
	li
		list-style: none
		a
			color: white
			margin: 0 5px
			&:hover
				color: #b9b9b9
	div
		i
			font-size: 25px
			margin-top: 25px
			cursor: pointer
		.fa-moon
			display: none
.textura_burbujas
	position: absolute
	top: 1100px
	z-index: -1

.descripcion
	margin: 120px 0
	.large-6:first-child
		div
			width: 61%
			margin: 30px 0 0 auto
			padding-right: 40px
	img
		border-radius: 0px 20px 20px 0px 
		height: 500px!important
		width: 61%
	a
		font-family: "Alata", sans-serif !important
		i
			padding-left: 5px
			position: relative
			top: -1px

.proyectos
	img
		border-radius: 20px
		height: 450px
		width: 100%
		margin-bottom: 10px
	h3 a
		font-size: 25px
		color:  #06283D!important
		font-family: "Alata", sans-serif !important
		i
			position: relative
			font-size: 20px
			top: -2px
			transition: transform 0.3s ease
			//left: -5px
			//transform: rotate(320deg)
	.large-6
		margin-bottom: 25px
		.button
			margin: 0px 10px
			padding: 10px 42px 
			font-size: 17px
		.proyectos_botones
			.button:nth-child(1)
				margin: 0px 10px 0 0px!important

.proyectos_botones
	span
		font-family: "Alata", sans-serif !important
.pagina_proyectos
	margin-bottom: 50px
	h2
		margin-top: 50px
		color: #06283D
	a
		font-family: "Alata", sans-serif !important
		font-size: 25px
		color: #06283D
	p
		line-height: 22px
	span
		border: 1px solid #1779ba
		padding: 5px 10px
		border-radius: 5px 10px
		font-size: 13px
		font-family: "Alata", sans-serif !important
		color: #1779ba
.cursos
	h3
		margin-bottom: 25px
		font-size: 25px
	h3, h4
		color:  #06283D!important
	h4
		font-size: 16px
	.grid-x
		position: relative
		div
			border-left: 2px solid #06283D!important
			padding-left: 15px
			h4, p
				position: relative
				top: -7px
		div:before
			content: ''
			background-color: #06283D
			position: absolute
			left: -5px
			width: 12px
			height: 12px
			border-radius: 50%
		div:nth-child(5)
			border-left: 0px solid #06283D!important
.contacto
	background-color: #DFF6FF
	width: 81%!important
	margin: 40px 0 0 auto
	padding: 30px 30px 20px
	border-radius: 20px 0px 0px 0px
	.datos_contacto
		padding-left: 40px
		a
			font-size: 25px
			color: #1779ba
	h2
		color: #0D2A70
		margin-bottom: 30px
	.blog_post
		background-color: white
		border-radius: 20px
		width: 90%!important
		margin: 0 auto 40px 0
		.cell div
			padding: 15px
			small
				color: #4d4d4d
			hr
				margin: 10px auto!important
			span
				border: 1px solid black
				padding: 3px
				border-radius: 5px
				font-size: 13px
			h4
				margin-top: 10px
				color: #0D2A70
		.cell:first-child
			text-align: right
			img
				height: 270px
				width: 100%
				border-radius: 10px 0px 0px 10px

footer
	div
		background-color: #06283D
		padding: 15px 0
		color: white
	h4
		font-size: 20px 

@media (max-width: 1500px)
	.descripcion
		margin: 70px 0
		.large-6:first-child
			div
				width: 81%
		img
			width: 81%
	.contacto
		width: 91% !important

@media (max-width: 900px)
	.descripcion
		.large-6:first-child
			div
				width: 100%
				margin: 0px 0 0 auto
				padding: 16px
		img
			width: 100%
			height: 390px !important
			border-radius: 0px 0px 0px 0px
	.proyectos
		img
			height: 285px
	.contacto
		width: 100%!important
	.contacto 
		.datos_contacto 
			padding-left: 0px
			margin-top: 30px
		h2
			margin-bottom: 20px

@media (max-width: 600px)
	.descripcion
		.large-6:last-child
			display: none
	.proyectos img
		height: 300px
		margin-bottom: 20px
	footer
		h4
			font-size: 15px
	header
		div
			i
				font-size: 20px
				margin-top: 10px
				cursor: pointer
	.proyectos .large-6 .button
		display: ruby-base-container
